@{
    ViewBag.CurrentPage = ViewBag.CurrentPage ?? 1;
    ViewBag.LastPage = ViewBag.LastPage ?? 1;
    ViewBag.Action = ViewBag.Action ?? "Index";
}
<!----------------------------------------------------------------->

<style>
    #paginatione6f6ceeec5f74afe96e4fc15a16000bb {
        display: block;
        width: fit-content;
        margin: 50px auto;
        border: 1px solid lightgray;
    }

    #paginatione6f6ceeec5f74afe96e4fc15a16000bb a {
        color: black;
        float: left;
        padding: 8px 12px;
        margin: 2px;
        text-decoration: none;
        border-radius: 5px;
        min-width: 40px;
        text-align: center;
        font-size: 16px;
    }

    #paginatione6f6ceeec5f74afe96e4fc15a16000bb a#active {
        background-color: #4CAF50;
        color: white;
    }

    using Microsoft.AspNetCore.Http.Extensions;

    #paginatione6f6ceeec5f74afe96e4fc15a16000bb a.deactive {
        cursor: default;
    }

    #paginatione6f6ceeec5f74afe96e4fc15a16000bb a:hover:not(#active):not(.deactive) {
        background-color: #ddd;
    }

    #paginatione6f6ceeec5f74afe96e4fc15a16000bb form {
        float: left;
        background-color: lightgray;
    }

    #paginatione6f6ceeec5f74afe96e4fc15a16000bb form input,
    #paginatione6f6ceeec5f74afe96e4fc15a16000bb form label {
        float: left;
        font-size: 16px;
        padding: 8px 12px;
        margin: 2px;
    }

    #paginatione6f6ceeec5f74afe96e4fc15a16000bb form input {
        padding: 6px 12px;
        width: 100px;
    }
</style>
<div id="paginatione6f6ceeec5f74afe96e4fc15a16000bb" class="clearfix">
    @if (ViewBag.CurrentPage > 1)
    {
        <a id="previous" asp-route-page="@(ViewBag.CurrentPage - 1)"
            asp-route-SelectedTags="@Context.Request.Query["SelectedTags"].ToString()"
            asp-route-DeveloperUserName="@Context.Request.Query["DeveloperUserName"].ToString()"
            asp-route-SearchPhrase="@Context.Request.Query["SearchPhrase"].ToString()"
            asp-route-username="@Context.Request.Query["username"].ToString()">«</a>
    }
    <a id="first" asp-route-page="1" asp-route-SelectedTags="@Context.Request.Query["SelectedTags"].ToString()"
        asp-route-DeveloperUserName="@Context.Request.Query["DeveloperUserName"].ToString()"
        asp-route-SearchPhrase="@Context.Request.Query["SearchPhrase"].ToString()"
        asp-route-username="@Context.Request.Query["username"].ToString()">1</a>
    <form asp-action="@ViewBag.Action" method="get">
        <label for="current-page">Page:</label>
        <input type="number" min="1" max="@ViewBag.LastPage" required name="page" id="current-page"
            value="@ViewBag.CurrentPage"
            onkeypress="if(event.key == 'Enter'&&this.value<=@ViewBag.LastPage&&this.value>0)this.parentElement.submit();">
        <input hidden value="@Context.Request.Query["SelectedTags"].ToString()" name="SelectedTags">
        <input hidden value="@Context.Request.Query["DeveloperUserName"].ToString()" name="DeveloperUserName">
        <input hidden value="@Context.Request.Query["SearchPhrase"].ToString()" name="SearchPhrase">
        <input hidden value="@Context.Request.Query["username"].ToString()" name="username">
    </form>
    <a id="last" asp-route-page="@ViewBag.LastPage"
        asp-route-SelectedTags="@Context.Request.Query["SelectedTags"].ToString()"
        asp-route-DeveloperUserName="@Context.Request.Query["DeveloperUserName"].ToString()"
        asp-route-SearchPhrase="@Context.Request.Query["SearchPhrase"].ToString()"
        asp-route-username="@Context.Request.Query["username"].ToString()">@ViewBag.LastPage</a>
    @if (ViewBag.LastPage > ViewBag.CurrentPage)
    {
        <a id="next" asp-route-page="@(ViewBag.CurrentPage + 1)"
            asp-route-SelectedTags="@Context.Request.Query["SelectedTags"].ToString()"
            asp-route-DeveloperUserName="@Context.Request.Query["DeveloperUserName"].ToString()"
            asp-route-SearchPhrase="@Context.Request.Query["SearchPhrase"].ToString()"
            asp-route-username="@Context.Request.Query["username"].ToString()">»</a>
    }
</div>