@model Identity_UserAndRolesModel

<!---------------------------------------------------------->
<style>
    #table490f8636502541beb2ad5551784cd3d3 {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin: auto;
    }

    #table490f8636502541beb2ad5551784cd3d3 td,
    #table490f8636502541beb2ad5551784cd3d3 th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #table490f8636502541beb2ad5551784cd3d3 tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #table490f8636502541beb2ad5551784cd3d3 tr:hover {
        background-color: #ddd;
    }

    #table490f8636502541beb2ad5551784cd3d3 th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }

    #table490f8636502541beb2ad5551784cd3d3 td button,
    #div490f8636502541beb2ad5551784cd3d3 .modal form input[type=submit] {
        padding: 10px 20px;
        color: blue;
        font-size: 12px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 20px;
        border: 1px solid blue;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
    }

    #table490f8636502541beb2ad5551784cd3d3 td button:hover,
    #div490f8636502541beb2ad5551784cd3d3 .modal form input[type=submit]:hover {
        background-color: rgba(135, 206, 235, 0.2);
    }

    #div490f8636502541beb2ad5551784cd3d3 {
        width: 80%;
        margin: auto;
    }

    #div490f8636502541beb2ad5551784cd3d3 a {
        padding: 10px 20px;
        color: blue;
        font-size: 12px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 20px;
        border: 1px solid blue;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        margin: 10px;
    }

    #div490f8636502541beb2ad5551784cd3d3 a:hover {
        background-color: rgba(135, 206, 235, 0.2);
    }

    #div490f8636502541beb2ad5551784cd3d3 a#delete-btn:hover {
        background-color: orange;
    }

    @@media screen and (max-width:800px) {
        #div490f8636502541beb2ad5551784cd3d3 {
            width: 100%;
        }
    }

    #div490f8636502541beb2ad5551784cd3d3 .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(5px);
        width: 100%;
    }

    #div490f8636502541beb2ad5551784cd3d3 .modal form {
        width: fit-content;
        margin: 100px auto;
        background-color: white;
        display: block;
        padding: 20px;
        border-radius: 10px;
    }

    #div490f8636502541beb2ad5551784cd3d3 .modal form input {
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid gray;
        width: 300px;
    }

    #div490f8636502541beb2ad5551784cd3d3 .modal #close-btn {
        font-size: 40px;
        position: absolute;
        top: 50px;
        right: 50px;
        cursor: pointer;
    }

    #div490f8636502541beb2ad5551784cd3d3 .modal #close-btn:hover {
        color: red;
    }
</style>
<div id="div490f8636502541beb2ad5551784cd3d3">
    <div asp-validation-summary="All" style="color: red;"></div>
    <div><a asp-action="UsersList">Back to Users List</a></div>
    <table id="table490f8636502541beb2ad5551784cd3d3">
        <tbody>
            <tr>
                <th>Property Name</th>
                <th>Property Value</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Username</td>
                <td>@Model.User.UserName</td>
                <td><button onclick="showModal(document.getElementById('usernameModal'));">Edit</button></td>
            </tr>
            <tr>
                <td>Password</td>
                <td>@Model.User.PasswordLiteral</td>
                <td><button onclick="showModal(document.getElementById('passwordModal'));">Edit</button></td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.User.Email</td>
                <td><button onclick="showModal(document.getElementById('emailModal'));">Edit</button></td>
            </tr>
            <tr>
                <td>Active</td>
                <td>@(Model.User.Active)</td>
                <td><button onclick="showModal(document.getElementById('activeStateModal'));">Edit</button></td>
            </tr>
            <tr>
                <td>Roles</td>
                <td>
                    @foreach (string role in Model.Roles)
                    {
                        @role

                        @:,&ensp;
                    }
                </td>
            </tr>
            <tr>
                <td>UserGuid</td>
                <td>@Model.User.UserGuid</td>
            </tr>
            <tr>
                <td>Email Confirmed?</td>
                <td>@Model.User.EmailConfirmed</td>
            </tr>
            <tr>
                <td>Email Validation Code</td>
                <td>@Model.User.EmailValidationCode</td>
            </tr>
            <tr>
                <td>Email Validation Date</td>
                <td>@Model.User.EmailValidationDate</td>
            </tr>
        </tbody>
    </table>
    <div>
        <a asp-action="DeleteUser" asp-route-userGuid="@Model.User.UserGuid" id="delete-btn"
            style="color:red;border-color:red;float:right;border-radius:0;">Delete User
        </a>
    </div>

    <!---------------------------------- Modals ----------------------------->
    <div class="modal" id="usernameModal">
        <span id="close-btn" onclick="hideModal(this.parentElement);">&times;</span>
        <form asp-action="SubmitUsername">
            <input type="hidden" name="userGuid" value="@Model.User.UserGuid">
            <div>
                <label for="username">Username:</label>
                <input name="username" id="username" type="text" value="@Model.User.UserName">
            </div>
            <input type="submit" value="Submit" style="display:block;width:fit-content;margin: 20px auto;">
        </form>
    </div>
    <div class="modal" id="passwordModal">
        <span id="close-btn" onclick="hideModal(this.parentElement);">&times;</span>
        <form asp-action="SubmitPassword">
            <input type="hidden" name="userGuid" value="@Model.User.UserGuid">
            <div>
                <label for="password">Password:</label>
                <input name="password" id="password" type="text" value="@Model.User.PasswordLiteral">
            </div>
            <input type="submit" value="Submit" style="display:block;width:fit-content;margin: 20px auto;">
        </form>
    </div>
    <div class="modal" id="emailModal">
        <span id="close-btn" onclick="hideModal(this.parentElement);">&times;</span>
        <form asp-action="SubmitEmail">
            <input type="hidden" name="userGuid" value="@Model.User.UserGuid">
            <div>
                <label for="email">Email:</label>
                <input name="email" id="email" type="text" value="@Model.User.Email">
            </div>
            <input type="submit" value="Submit" style="display:block;width:fit-content;margin: 20px auto;">
        </form>
    </div>
    <div class="modal" id="activeStateModal">
        <span id="close-btn" onclick="hideModal(this.parentElement);">&times;</span>
        <form asp-action="SubmitActiveState">
            <input type="hidden" name="userGuid" value="@Model.User.UserGuid">
            <div>
                <label for="activeState">Account is @(Model.User.Active ? "active" : "inactive")</label>
                <input name="activeState" id="activeState" type="checkbox" checked="@Model.User.Active"
                    style="transform: scale(150%);" value="@Model.User.Active"
                    onchange="if(this.checked)this.value=true;else this.value=false; changeSubmitActiveState(this);">
            </div>
            <input type="submit" value="@(Model.User.Active ? "active" : "inactive")"
                style="display:none;width:fit-content;margin: 20px auto;">
        </form>
    </div>
    <script>
        function showModal(modalDiv) {
            modalDiv.style.display = "block";
        }
        function hideModal(modalDiv) {
            modalDiv.style.display = "none";
        }
        function changeSubmitActiveState(element) {
            let submitInput = element.parentElement.nextElementSibling;
            if (element.checked) {
                submitInput.value = "Turn Inactive";
            }
            else {
                submitInput.value = "Turn Active";
            }
            submitInput.style.display = "block";
        }
    </script>
</div>